<div class="banner-header flex-middle">
  <div class="text-header">
    <p>We're open and available for takeaway & delivery. Order Now</p>
  </div>
</div>
<div class="header-navigation flex-middle">
  <div class="header-container">
    <div class="nav-left">
      <a href="#"
        ><img src="../../../assets/icons/logo.svg" alt="Logo of page"
      /></a>
    </div>
    <div class="nav-right">
      <nav>
        <ul>
          <li><a href="">home</a></li>
          <li><a href="">order</a></li>
          <li><a href="">company</a></li>
          <li><a href="">faq</a></li>
          <li><a href="">contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
