<div class="container">
  <div class="main-heading flex-middle">
    <div class="main-heading-left">
      <h1>Beautiful food & takeaway, delivered to your door.</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500.
      </p>
      <button></button>
      <div class="review-wraper"></div>
    </div>
    <div class="main-heading-right">
      <img
        src="../../../assets/img/hamburger-header.jpg"
        alt="Food preseting on plate"
      />
    </div>
  </div>
</div>
