.main-heading {
  height: 450px;
  margin-top: 20px;
  .main-heading-left {
    width: 50%;
    max-width: 730px;
    text-align: left;
    padding-right: 40px;
    align-items: flex-start;
    h1 {
      width: 60%;
      margin-bottom: 20px;
      span {
        color: var(--brand);
      }
    }
    button {
      color: var(--alice);
      background-color: var(--brand);
    }
  }
  .main-heading-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    img {
      max-height: 100%;
      border-radius: 5%;
      border-top-left-radius: 20%;
    }
  }
}
